@{
    ViewBag.Title = "Đỗ Trọng Huy";
}
<h2>@ViewBag.Title.</h2>
<h3>Bài Thi giữa kỳ của Đỗ Trọng Huy- Cam kết không đạo văn</h3>

<address>
    K22CNT1 - Môn lập trình ứng dụng web với công nghệ ASP.NET MVC5
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Tronghuyt@gmail.com">Tronghuyt@gmail.com</a><br />
    <strong>Cá nhân :</strong> <a href="mailto:dotronghuy@gmail.com">dotronghuy@gmail.com</a>
</address>